
body {
	margin: 20px;
	font-family: Dancing Script;
	background-color: #02010a;
}

#contenido {
	display: flex;
	flex-direction: column;
}

#cabecera {
	background-color: #5b7989;
	border-radius: 10px 10px 1px 1px;
	height: 20%;
}

#galeria {
	background-color: #d5c75f;
	}

	#final {
		background-color: #C6d5c5;
		border-radius: 1px 1px 10px 10px;
	}


.contenedor {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row;
}

#cabecera .contenedor > div {
	padding: 10px;
	margin: 10px;
	width: 50%;
	color:white;
	text-shadow: 2px #02010a;
	text-align: right;
	font-size:30px;
}

#cabecera .contenedor > .menuss > navbar a{
	color: white;
  text-decoration: none;
}

#cabecera .contenedor > .menuss > navbar a:hover{
	text-decoration: underline;
  color: white;
}

#cabecera .contenedor > .menuss > a{
	color: white;
}
#cabecera .contenedor > .menuss > a:hover{
	color: white;
  text-decoration: none;
}

#cabecera .contenedor > .texini{
	text-align: center;
	font-size:32px;
}

#final .contenedor > div {
	padding: 10px;
	margin: 10px;
	width: 25%;
	height: 10%;
	text-shadow: 2px #02010a;
	text-align: center;
}

#final .contenedor > .redsocial a{
	text-decoration: none;
	color: black;
}

#galeria .contenedor {
	text-align: center;
	padding: 10px;
	width: 100%;
	margin: 0 auto;
	}

#galeria > .contenedor > figure{
	width: 100%;
}
#galeria > .contenedor > figure > img{
	width: 90%;
	border: solid 1px #02010a;
}

#imagen1 img, #imagen2 img, #imagen3 img, #imagen4 img, #imagen5 img, #imagen6 img{
	box-shadow: 2px 2px black;
}
#imagen2 img, #imagen4 img, #imagen6 img{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
}
.redsocial img{
	width: 10%;
}

#imagen3 img{
	-webkit-filter: sepia(90%); /* Chrome, Safari, Opera */
	filter: sepia(90%);
}

#imagen1 img{
	width: 100%
	transition: all 1s;
  -webkit-transition: all 1s;
	box-shadow: 2px 2px #02010a;
	-webkit-filter: blur(10px); /* Chrome, Safari, Opera */
	filter: blur(10px);
}


#imagen2 img, #imagen4 img, #imagen6 img{
	transition: all 1s;
  -webkit-transition: all 1s;
	box-shadow: 2px 2px black;
}





@media (max-width: 900px) {
	.contenedor {
	  margin-left: auto;
		margin-right: auto;
		flex-flow: row wrap;
	}
	#cabecera .contenedor > div {
		padding: 1vw;
		margin: 1vw;
		width: 100%;
		color:white;
		text-shadow: 2px #02010a;
		text-align: center;
		font-size:1.5em;
	}

	#cabecera .contenedor > .texini{
		text-align: center;
		font-size:1.5em;
	}

	#galeria .contenedor {
		text-align: center;
		padding: 0vw;
		width: 100%;
		margin: 0vw;
		}

	#galeria > .contenedor > figure{
		width: 100%;
	}

	#final .contenedor > div {
		padding: 1vw;
		margin: 1vw;
		width: 100%;
		text-shadow: 2px #02010a;
		text-align: center;
	}
}

.adaptativa-porcentaje{
	width:90%;
}
.adaptativa-porcentaje-1{
	width:70%;
}
.adaptativa-porcentaje-2{
	width:50%;
}
.adaptativa-porcentaje-3{
	width:20%;
}
